.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride
node_modules/
npm-debug.log*
yarn-debug.log*
.env
.env.local
app/
config/
database/
vendor/
composer.json
composer.lock
package.json
